<form action="/pirates" method="post">
    Pirate Name: <input id="name" type="text" name="pirate[name]">
    Pirate Weight: <input id="type" type="text" name="pirate[weight]">
    Pirate Height: <input id="height" type="text" name="pirate[height]">
    Ship Name: <input id="ship_name_1" type="text" name="pirate[ships][][name]">
    Ship Type: <input id="ship_type_1" type="text" name="pirate[ships][][type]">
    Ship Booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]">
    Ship Name: <input id="ship_name_2" type="text" name="pirate[ships][][name]">
    Ship Type: <input id="ship_type_2" type="text" name="pirate[ships][][type]">
    Ship Booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]">
    <input type="submit" name="submit" id="Submit">
  </form>
