<!Doctype html>
<html>
<body>
  <form action="/pirates" method="post">
    Pirate Name:<input type='text' name='pirate[name]'>
    Pirate Weight: <input type="text" name="pirate[weight]">
    Pirate Height: <input type="text" name="pirate[height]">
    Ship Name: <input type="text" name="pirate[ships][][name]">
    Ship Type: <input type="text" name="pirate[ships][][type]">
    Ship Booty: <input type="text" name="pirate[ships][][booty]">
    Ship Name: <input type="text" name="pirate[ships][][name]">
    Ship Type: <input type="text" name="pirate[ships][][type]">
    Ship Booty: <input type="text" name="pirate[ships][][booty]">
    <input type='submit' name='submit' id='Submit'>
  </form>
</body>
</html>