<form action="/pirates" method="post">
  <label for="pirate[name]">Pirate Name: </label>
  <input id="name" type="text" name="pirate[name]">
  <label for="pirate[weight]">Pirate Weight: </label>
  <input id="type" type="text" name="pirate[weight]">
  <label for="pirate[height]">Pirate Height: </label>
  <input id="height" type="text" name="pirate[height]">
  <label for="pirate[ships][][name]">Ship Name: </label>
  <input id="ship_name_1" type="text" name="pirate[ships][][name]">
  <label for="pirate[ships][][type]">Ship Type:</label>
  <input id="ship_type_1" type="text" name="pirate[ships][][type]">
  <label for="pirate[ships][][booty]">Ship Booty:</label>
  <input id="ship_booty_1" type="text" name="pirate[ships][][booty]">
  <input id="ship_name_2" type="text" name="pirate[ships][][name]">
  <input id="ship_type_2" type="text" name="pirate[ships][][type]">
  <input id="ship_booty_2" type="text" name="pirate[ships][][booty]">
    <input type="submit" name="submit" id="Submit">
  </form>
